

body {
    background-color: rgb(47, 36, 54);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.214);
    float: up;
    
}

::placeholder {
    color: rgb(214, 214, 214);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


input[type=text] {
    background-image: linear-gradient(to bottom right, rgb(195, 0, 255), rgb(179, 0, 255));
    height: 50px;
    width: 30cm;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    color: white;
    box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.579);
}

input[type=text]:focus {
    background-image: linear-gradient(to bottom right, rgb(195, 0, 255), rgb(179, 0, 255));
    height: 50px;
    width: 30cm;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    outline: none;
}

input[type=submit] {
    background-image: linear-gradient(to bottom right, rgb(195, 0, 255), rgb(179, 0, 255));
    width: 200px;
    height: 80px;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 30px;
    margin-right: 30px;
    box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.579);
}

input[type=number] {
    background-image: linear-gradient(to bottom right, rgb(195, 0, 255), rgb(179, 0, 255));
    height: 50px;
    width: 30cm;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.579);
}

.save{
    background-image: linear-gradient(to bottom right, rgb(195, 0, 255), rgb(179, 0, 255));
    height: 50px;
    width: 120px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    color: white;
}

li{
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
    list-style-type: none;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 0 0 5px 5px rgba(34, 34, 34, 0.607);
}

.wrapper{
    width: 800px;
    margin: auto;
    position: relative;
    overflow-y: scroll;
    height: 1000px;
}

.lijst{
    background-color: rgba(89, 0, 96, 0);
    margin-top: 30px;
}

.wrapper::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 10px 10px 10px 6px rgba(214, 1, 182, 0.458); 
    border-radius:5px;
}

ul{
    padding: 10px;
}

.add{
    margin-left: 18%;
}

.addbutton{
    border-width: 0px;
    border-radius: 15px;
    font-size: 80px;
    color: white;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    transition-duration: 0.5s;
    box-shadow: 0 0 5px 5px rgba(41, 41, 41, 0.579);
}

.addbutton:hover{
    box-shadow: 0 0 5px 5px rgb(164, 0, 183);
    color: rgb(220, 170, 227);
}
.align-right{
    text-align: right;
}

.addbutton2{
    border-width: 0px;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    margin-top: 10px;
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 30px;
    transition-duration: 0.5s;
}

.gradient{
    background-image: linear-gradient(to bottom right, rgb(195, 0, 255), rgb(179, 0, 255));
}

.delete{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 30px;
    float: right;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    text-shadow: 0 0 5px 5px rgba(41, 41, 41, 0.579);
}

.delete:hover{
    color: rgb(86, 24, 92);
}

.functies{
    background-color: rgba(130, 9, 174, 0.374);
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgb(155, 0, 160) 2px 1px 0px 1px;
    box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.579);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(51, 51, 51, 0.916);
  }
  
  .popup-content {
    background-color: #81008a;
    margin: 10% auto;
    padding: 20px;
    border: 0px solid;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
    animation: fadeIn 1s;
    box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.579);
  }

  .popup-content2{
    background-color: #81008a;
    margin: 10% auto;
    padding: 20px;
    border: 0px solid;
    border-radius: 10px;
    width: 100%;
    max-width: 1160px;
    position: relative;
    animation: fadeIn 1s;
    box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.579);
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
  }
  
  .close:hover {
    color: rgb(177, 0, 241);
  }

  p{
    background-image: linear-gradient(to bottom right, rgb(195, 0, 255), rgb(179, 0, 255));
    width: auto;
    font-size: 20px;
    border: 0px solid;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px 5px rgba(41, 41, 41, 0.147);
  }

.logo{
    -webkit-filter: drop-shadow(5px 5px 5px #1e1e1e9f);
        filter: drop-shadow(0px 8px 8px #222222c1);
}


